.primary {
    color: #9A6AFF;
}

.secondary {
    color: #20AFBB;
}

.tertiary {
    color: #DEDEDF;
}

.center {
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
}