/* for mobile only */
@media (max-width: 1024px) {
    /* display for desktop only, hide on mobile */
    .desktop {
        display: none;
    }
    
    /* arranges td as column in the tr */
    .mobile-flex {
        display: flex;
        width: 100%;
    }

    .mobile-flex-button {
        display: flex;
        justify-content: flex-end;
    }

    .table td {
        border: 0px;
    }

    tr {
        border: 1px solid #DBDBDB;
    }
    /* adds faux-headers on each td by reading "data-header" attribute of the td*/
    td:before {
    content: attr(data-header);
    display: block;
    font-weight: bold;
    margin-right: 10px;
    max-width: 110px;
    min-width: 110px;
    word-break: break-word;
    }
}

/* for desktop only */

@media (min-width: 1025px){
    td:nth-child(-n+2),
    th:nth-child(-n+2) {
        width: 33.5%;
    }
}

input,
select,
option {
    font-family: inherit;
}
